html {
  position: relative;
  min-height: 100%;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
tr.clickable_row {
    cursor:pointer;
}
div.clickable_row {
    cursor: pointer;
}

div.scroll
{
height:600px;
overflow:scroll;
}
img.side_photo {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.full_span_input{
    width:100%;
}

.inside-of-table{

}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*#.btn.btn-primary.active { background-color:#FF0837;border-color:#285e8e;color:#fff; }*/
