{% extends 'ProcessManager/base.html' %}
{% block title %} Asset: {{asset_information.tag }} {% endblock %}



{% block content %}


<div class="row">
    <div class="col-md-6 col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">Asset Information For: {{ asset_information.tag }} </div>
                <div class="panel-body">
            <table class="table table-striped table-bordered table-condensed" id="id_asset_table">
                <tr> <td>Asset</td> <td>{{ asset_information.tag }}</td></tr>
                <tr> <td>Description</td><td>{{ asset_information.description }}</td></tr>
                <tr><td>Assignment</td><td>
                        {% if assignment_information %}
                            {% for each in assignment_information %}
                                {{ each.person.first_name }} {{ each.person.middle_name|slice:":1" }} {{ each.person.last_name }}
                            {% endfor %}
                        {% endif %}
                    </td></tr>
                <tr><td>Wifi Mac Address</td><td>{{ asset_information.wifi_address|upper }}</td></tr>
                <tr><td>Bluetooth Mac Address</td><td> {{ asset_information.bluetooth_address|upper }}</td></tr>
                <tr><td>Passcode</td><td>{{ asset_information.passcode }}</td></tr>
                <tr><td>Accessories</td><td>
                        <table class="table table-responsive" id="id_accessory_table">
                        {% if accessories %}
                            {% for accessory in accessories %}
                            <tr> <td>
                                <form class="form-inline" method="POST" action="{%  url 'remove_accessory' asset_information.tag %}">
                                <input type="hidden" name="accessory_id" value="{{ accessory.id }}">
                                <div class="form-group full_span_input">{{ accessory.name }}<label class="sr-only" for="id_remove_accessory_box">Accessory Name</label>
                                        <div class="input-group pull-right">
                                              <button type="submit" class="btn btn-default btn-sm" id="id_remove_accessory_{{ accessory.id }}" aria-label="Remove Accessory">
                                                  <span class="glyphicon glyphicon-minus-sign " aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                {% csrf_token %}
                                </form>
                            </td></tr>
                            {% endfor %}
                        {% endif %}
                            <tr> <td>
                                    <form class="form-inline" method="POST" action="{% url 'add_accessory' asset_information.tag %}">
                                        <div class="form-group ">
                                                <label class="sr-only" for="id_add_accessory_box">Accessory Name</label>
                                            <div class="input-group ">
                                            <input type="text" name="accessory_name" class="form-control" id="id_add_accessory_box" placeholder="Accessory Information">
                                              <span class="input-group-btn" >

                                             <button type="submit" class="btn btn-default" id="id_add_accessory" aria-label="Add Accessory">
                                              <span class="glyphicon glyphicon-plus-sign " aria-hidden="true"></span>
                                            </button>
                                                  </span>
                                            </div>
                                        </div>
                                    {% csrf_token %}
                                    </form>
                        </td></tr>


                    </table>
                    </td></tr>
            </table>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"> Notes</div>
            <div class="panel-body" id="id_notes_box">

             </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"> Device Assignment History</div>
                <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed" id="id_asset_history_table">
                </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
