<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>{% block title %}  {% endblock %}</title>
    {% load staticfiles %}
    <script src="{% static 'scripts/jquery-2.1.0.js'%}"></script>
    <script src="{% static 'scripts/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
    <script src="{% static 'scripts/custom.js' %}"></script>
    <script src="{% static 'scripts/photocapture.js' %}"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/test.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
  <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <!--Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only"> Toggle Navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"> RSU1</a>
          </div>
          <!-- Collect the nav links, forms and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Dashboard</a></li>
                  <li class="dropdown">
              </ul>
              <ul class="nav navbar-nav">
                  <li class=""><a id='id_import' href="/import">Import</a></li>
              </ul>



            {% block search_bar %}
                <form class="navbar-form navbar-right" role="search" method="post"
                      action="{% block asset_search_action %} /search/asset/" {% endblock %}>
                    <div class="form-group">
                            <input type="text" class="form-control" id="id_search_box" name='asset_tag' placeholder="Search for an asset" autofocus="">
                            {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-default"> Search</button>
                    </form>


                    <form class="navbar-form navbar-right" role="search" method="post"
                          action="{% block person_search_action %}/search/person/ {% endblock %}">
                        <div class="form-group form-inline" style="display:inline;">
                            <input type="text" class="form-control" id="id_person_search_box" name="last_name" placeholder="Search for a Person">
                            {% csrf_token %}
                        </div>
                        <button type="submit" class="btn btn-default"> Search</button>
                    </form>
            {% endblock %}





            </div>

      </div>
</nav>



<div class="container-fluid">
  {% block content %} {%  endblock %}
</div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>



