{% extends 'ProcessManager/select_person.html' %}

{% block title %} Select Person {% endblock %}

{% block person_search_action %} {% url 'checkin_search_person' check_in.id %}{% endblock %}


{% block content %}

<div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"> Pick an assignment <b id="id_result_count"></b></div>
                <div class="panel-body">
                <table class="table table-bordered table-condensed table-hover" id="id_person_table">
                    <thead> <th> Name</th> <th> Student ID</th> <th> Date of Birth</th> <th> Assignment</th></thead>
                    {% for person in persons_information %}
                        {% for assignment in person.assignment_set.all %}
                            {% if assignment.active %}
                    <tr class="clickable_row" id="id_person_link_{{ person.id }}" data-url="{% url 'device_check_in' check_in.id assignment.id %}"><td>{{ person.first_name}} {{ person.middle_name|slice:":1" }} {{ person.last_name }}</td>
                        <td>{{ person.student_number }}</td><td>{{ person.birthdate|date:"m-d-Y" }}</td><td> {{ assignment.id }}</td></tr>
                            {% endif %}
                            {% endfor %}
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>

    </div>



{%  endblock %}


