{% extends 'ProcessManager/base.html' %}
{% load staticfiles %}

{% block title %} Asset Check In {% endblock %}

{% block person_search_action %} {% url 'checkin_search_person' check_in.id %}{% endblock %}



{% block content %}
{% if assignment_information and check_in %} {# Only display this if we have those fields loaded. #}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"> PERSON INFORMATION </div>
                <div class="panel-body">
                    <img src="{% static 'person_pictures/' %}{{ person_information.student_number }}.jpg"
                         class="img-rounded thumbnail img-responsive col-md-2 col-sm-2 col-xs-2"
                         alt="{{ person_information.student_number }}">
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <table class="table table-striped table-bordered table-condensed table-responsive"
                               id="id_person_table">
                            <tr><td>Name</td><td>
                                {{ person_information.first_name}}
                                {{ person_information.middle_name|slice:":1" }}
                                {{ person_information.last_name }}</td></tr>
                            <tr><td>Student Number</td><td>
                                {{ person_information.student_number }}</td></tr>
                            <tr><td>Date of Birth</td><td>{{ person_information.birthdate }}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Asset Information For: {{ assignment_information.asset.tag }}</div>
                <div class="panel-body">
                    <table class="table table-striped table-responsive table-bordered table-condensed" id="id_asset_table">
                        <tr> <td> Asset </td> <td> {{ assignment_information.asset.tag }}</td></tr>
                        <tr> <td> Type  </td> <td> {{ assignment_information.asset.type }} </td></tr>
                        <tr> <td> Assignment </td> <td> {{assignment_information.start_date}} to {{ assignment_information.end_date }}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="row" id="id_item_status_table">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="id_save_assigment_check" action="
                    {% url 'check_in_save' check_in.id assignment_information.id %}

                    " method="POST">
                    {% csrf_token %}
                    <table class="table table-bordered table-condensed" id="id_check_in_table">
                        <thead>
                            <tr> <th> Item </th> <th> Status </th></tr>
                        </thead>
                            <tr> <td> {{ assignment_information.asset.type.name }}</td>
                                <td>

                                    <div class="btn-toolbar btn-group-sm">
                                        <div class="btn-group btn-group-sm center" data-toggle="buttons">
                                        {% for choice in DeviceForms.status %}
                                            {{ choice }}
                                            {{ choice.initial }}
                                        {% endfor %}


                                        </div>

                                       <div class="btn-group btn-group-sm" "role="radiogroup" aria-label="Warranty Repair" data-toggle="buttons">
                                          <label for="id_devices-warranty" name="warranty_check" class="btn btn-primary" id="id_asset_warranty_{{ assignment_information.asset.id }}">


                                              {{ DeviceForms.warranty }}
                                            {{ DeviceForms.warranty.initial }}
                                              Warranty 



                                           {% for hidden in DeviceForms.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}

                                          </label>
                                       </div>

                                    </div>

                                </td></tr>



                            <tr> <td>
                            {{ AccessoryFormSet.management_form }}

                            {% if accessory_information.count > 0 %}
                            <strong>Accessor{{ accessory_information|pluralize:"y,ies" }}</strong></td><td></td></tr>
                            {% endif %}

                            {%  for accessory in accessory_information %}
                                {% for form in AccessoryFormSet %}
                                    {% if form.instance.accessory == accessory %}


                                <tr> <td> {{ accessory.name }}</td>
                                    <td>

                                    <div class="btn-toolbar btn-group-sm">
                                        <div class="btn-group btn-group-sm center" data-toggle="buttons">
                                        {% for choice in form.status %}
                                            {{ choice }}
                                            {{ choice.initial }}
                                        {% endfor %}


                                        </div>

                                       <div class="btn-group btn-group-sm"  role="radiogroup" aria-label="Warranty Repair" data-toggle="buttons">
                                          <label class="btn btn-primary" name="warranty_check" id="id_accessory_warranty_{{ accessory.id }}">
                                            {{ form.warranty }} {{ form.warranty.initial }}{{ form.warranty.label }}
                                        {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                        {% endfor %}

                                          </label>
                                       </div>


                                    </div>


                                </td></tr>
                                    {% endif %} {# end if formset #}
                                    {% endfor %} {# end for formset #}
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12" id="id_item_summary_table">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-body" id="id_check_in_summary">
                            <p> <strong> Summary Information: </strong> </p>

                            <p> No Damage. </p>
                            <p> Please start the check in. </p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="id_notes">Notes:</label>
                        {{ NoteForm.content }}
                    </div>
            </form> {# end enclosing form #}

                    <div class="btn-group">
                        <button id="id_save_and_print" type="button" class="btn btn-primary"  aria-expanded="false" onclick=document.forms["id_save_assigment_check"].submit()>
                        Save & Print
                        </button>
                        <button id="id_save_button_dropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                        <li>
                            <a id="id_save" onclick=document.forms["id_save_assigment_check"].submit() >Save</a>
                        </li>
                        </ul>
                    </div>


                    <div class="btn-group">
                        <button id="id_cancel" type="button" class="btn btn-warning"> Cancel </button>
                    </div>



                </div>
            </div>
        </div>
    </div>
 {% endif %} {# End display limitation #}





    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"> Check In Status {done} of {total} </div>
                <div class="panel-body">
                    <table class="table table-responsive table-bordered table-striped">
                        <thead>
                        <tr> <th> Person </th> <th> Asset </th> <th> When </th> <th> Device </th> <th> Accessories</th></tr>
                        </thead>



                        <!-- This is where you loop through the status. Set dataURL to checkin  record for that-->
                        {% for result in ProgressResults %}
                        <tr class="clickable_row" data-url="{% url 'device_check_in' result.device.check_in.id result.device.assignment.id %}">
                            <td> {{ result.device.assignment.person.last_name }}, {{ result.device.assignment.person.first_name  }} </td>
                            <td> {{ result.device.assignment.asset.tag }} </td>
                            <td> {{ result.device.last_modified}} </td>
                            <td> <p> {{ result.device.get_status_display|default:"Not Yet Checked" }}
                                {% if result.device.status and result.device.warranty %} <em>- Covered By Warranty </em>{% endif %}

                            </td>
                            <td>
                                {% for item in result.accessory %}
                                <p> {{ item.accessory.name }}: {{ item.get_status_display|default:"Not Yet Checked" }} {% if item.status and item.warranty %} <em>- Covered By Warranty </em>{% endif %}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>

        </div>
    </div>



{% endblock %}