{% extends 'ProcessManager/base.html' %}
{% block title %} MLTI Process Manager {% endblock %}
{% block search %}
    <!--suppress HtmlUnknownTarget -->
    <ul>
<form class="navbar-form navbar-center" role="search" method="post" action="/search/asset/">
    <div class="form-group">
            <input type="text" class="form-control" id="id_search_box" name='asset_tag' placeholder="Search for an asset">
            {% csrf_token %}
    </div>
    <button type="submit" class="btn btn-default"> Search</button>
</form>
    </ul>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading"> Check In
                    <button type="button" id="id_new_checkin" class="btn btn-default btn-sm pull-right" href="#newCheckinModal"
                            data-toggle="modal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Checkin
                    </button>
                </div>
                    <div class="panel-body">

                    {% for checkin in checkins %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="progress" id="id_progress_bar_{{ checkin.id }}">
                                    <div class="progress-bar" role="progressbar"
                                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        60% Complete

                                    </div>
                                </div>
                                <table class="table-responsive table">
                                    <tr class="clickable_row" id='id_check_in_status_row_{{ checkin.id }}' data-url='{% url 'existing_check_in' checkin.id %}'>
                                        <td id="id_start_date_{{ checkin.id }}"> {{ checkin.start_date }} </td>
                                        <td id="id_end_date_{{ checkin.id }}">{{ checkin.end_date }} </td>
                                        <td id="id_note_{{ checkin.id }}">{{ checkin.note }}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="newCheckinModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create New Check In</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <form id='id_new_checkin_form' class="form-group" method="POST" action="{% url 'new_check_in' %}">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" id="id_new_checkin_form_submit" class="hidden"/>
                </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <label id="id_new_checkin_modal_submit" for="id_new_checkin_form_submit" class="btn btn-primary"> Save </label>
            </div>
        </div>
    </div>
</div>

{% endblock %}

