{% extends 'ProcessManager/base.html' %}
{% block title %} Import Data Files {% endblock %}

{% block content %}

    {%  if results %}
    <div class='alert-info' role='alert' id="id_process_message">
        Success.  {{ results.created }} created,
        {{ results.updated }} updated,
        {{ results.failed|default:"0"  }} failed.
    </div>
    {%  endif %}

<form enctype="multipart/form-data" action="import" method="post">

{% csrf_token %}
{{ form.as_p}}

    {% if message %}
    {% endif %}


<input class="btn" type="submit" value="Submit" />

</form>



{% endblock %}