{% extends 'ProcessManager/base.html' %}
{% load staticfiles %}
{% block title %} Select Person {% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-6 col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">{{ person_information.first_name}} {{ person_information.middle_name|slice:":1" }} {{ person_information.last_name }} </div>
                <div class="panel-body">
                    <img src="{% static 'person_pictures/' %}{{ person_information.student_number }}.jpg" class="img-rounded thumbnail img-responsive col-md-2 col-sm-2 col-xs-2" alt="{{ person_information.student_number }}">
                   <div class="col-md-10 col-sm-10 col-xs-10">
                    <table class="table table-striped table-bordered table-condensed table-responsive" id="id_person_table">
                        <tr><td>Name</td><td >{{ person_information.first_name}} {{ person_information.middle_name|slice:":1" }} {{ person_information.last_name }}</td></tr>
                        <tr><td>Student Number</td><td>{{ person_information.student_number }}</td></tr>
                        <tr><td>Date of Birth</td><td>{{ person_information.birthdate }}</td></tr>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"> Notes</div>
            <div class="panel-body" id="id_notes_box">

            {% for note in person_information.note_set.all %}
                {{ note.content }}
             {% endfor %}
             </div>
        </div>
    </div>
 </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"> Device Assignment History</div>
                <div class="panel-body">
                <table class="table table-responsive table-striped table-bordered table-condensed" id="id_asset_history_table">
                 <thead> <th> Asset Tag</th> <th>Type</th><th>Start Date</th><th>End Date</th> </thead>
                    {% for assignment in person_information.assignment_set.all %}
                    <tr {% if assignment.active %}class="active"{% endif %}>
                        <td class="col-md-2 col-sm-2 col-xs-3" id="id_asset_{{ assignment.asset.tag }}"><a href="/asset/{{ assignment.asset.tag }}/">{{ assignment.asset.tag }} </a></td>
                        <td class="col-md-3 col-sm-3 col-xs-3">{{ assignment.asset.type.name}}</td>
                        <td class="col-md-2 col-sm-2 col-xs-3">{{ assignment.start_date|date:"m-d-Y" }}</td>

                        <td class="col-md-4 col-sm-4 col-xs-3">
                            <form class="form-inline full_span_input" method="POST" action="{% url 'assignment_end_date' assignment.id %}">
                                <div class="form-group">
                                    <label class="sr-only" for="id_end_date_assignment_box"> </label>
                                <div class="input-group">
                                     <input type="text" name="end_date" class="form-control date_picker" value="{{ assignment.end_date|date:"m-d-Y"  }}" id="id_add_end_date_box_{{ assignment.id }}">
                                    <span class="input-group-btn">
                                        <button tyupe="submit" class="btn btn-default" id="id_add_end_date_{{ assignment.id }}" aria-label="Add End Date">
                                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                                </div>
                                {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

