{% extends 'ProcessManager/base.html' %}

{% block title %} Select Person {% endblock %}


{% block content %}
<div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"> Pick a Person <b id="id_result_count">({{ persons_information.count }} Options)</b></div>
                <div class="panel-body">
                <table class="table table-bordered table-condensed table-hover" id="id_person_table">
                    <thead> <th> Name</th> <th> Student ID</th> <th> Date of Birth</th></thead>
                    {% for person in persons_information %}
                    <tr class="clickable_row" id="id_person_link_{{ person.id }}" data-url={% block search_link %}"/person/{{ person.id }}/" {% endblock %}><td>{{ person.first_name}} {{ person.middle_name|slice:":1" }} {{ person.last_name }}</td>
                        <td>{{ person.student_number }}</td><td>{{ person.birthdate|date:"m-d-Y" }}</td></tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>

    </div>


{%  endblock %}